<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <br>@ユーザーID ユーザーネーム で返信出来ます。
      <br>（例） @1 管理人 こんにちは
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>最近の投稿</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>TRAVEL MEMORIES</h1>
    <h2>
      旅の思い出を、写真付きで共有出来るサイトです。
    </h2>
    <%= link_to "新規登録（無料）", 'signup', class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
